* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:root {
  --color-black: black;
  --color-white: white;
  --color-gray: rgb(184, 175, 175);
  --fs-1: 14px;
  --fs-2: 16px;
  --fs-3: 18px;
  --fs-4: 20px;
  --fs-5: 22px;
  --fs-6: 24px;
}

@keyframes tranimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg) scale(1.2);
  }
  75% {
    transform: rotate(-10deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg);
  }
}
.btn {
  background-color: var(--color-black);
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: greenyellow;
  color: var(--color-black);
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.container {
  width: 90vw;
  margin: auto;
}

header {
  background-color: black;
  position: relative;
}
header .free-shipping {
  background-color: rgb(233, 25, 25);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: 1px;
  padding: 10px;
}
header .free-shipping p {
  font-size: var(--fs-1);
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
}
header .navbar .nav-list {
  flex: 1.2;
}
@media (max-width: 990px) {
  header .navbar .nav-list {
    display: none;
  }
}
header .navbar .nav-list ul {
  display: flex;
  gap: 20px;
}
header .navbar .nav-list ul li .active {
  color: var(--color-white);
  border-bottom: 1px solid white;
}
header .navbar .nav-list ul li a {
  color: var(--color-gray);
}
header .navbar .nav-logo {
  flex: 2.4;
  text-align: center;
  width: fit-content;
  position: relative;
  top: 20px;
  left: -10px;
}
@media (max-width: 576px) {
  header .navbar .nav-logo {
    left: 10px;
  }
  header .navbar .nav-logo img {
    width: 80%;
  }
}
@media (max-width: 990px) {
  header .navbar .nav-logo {
    left: 20px;
    flex: 1;
    width: fit-content;
  }
}
header .navbar .nav-logo img {
  width: 90px;
}
header .navbar .login-cart {
  flex: 1.2;
}
header .navbar .login-cart ul {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
@media (max-width: 749px) {
  header .navbar .login-cart ul li:nth-child(odd) {
    display: none;
  }
}
header .navbar .login-cart ul li a {
  color: var(--color-gray);
}
header .navbar .navbar-responsive {
  flex: 0.7;
}
header .navbar .navbar-responsive i {
  font-size: var(--fs-5);
  color: var(--color-white);
}
@media (min-width: 990px) {
  header .navbar .navbar-responsive {
    display: none;
  }
}
@media (max-width: 990px) {
  header .navbar .navbar-responsive {
    display: block;
  }
}
header #sidebar {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}
header #sidebar .left-side-bar {
  width: 60%;
  height: 700px;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: var(--color-black);
}
@media (max-width: 576px) {
  header #sidebar .left-side-bar {
    width: 100%;
  }
}
header #sidebar .left-side-bar .nav-list-responsive li {
  margin: 20px 20px;
}
header #sidebar .left-side-bar .nav-list-responsive li a {
  font-size: var(--fs-4);
  color: var(--color-gray);
}
header #sidebar .left-side-bar .social-responsive {
  display: flex;
  margin-top: 300px;
  justify-content: space-evenly;
}
header #sidebar .left-side-bar .social-responsive li {
  margin: 20px 20px;
}
header #sidebar .left-side-bar .social-responsive li a {
  font-size: var(--fs-6);
  color: var(--color-gray);
}
header #sidebar .slide {
  left: 0;
}
header .cartsidebar {
  display: none;
}
header .cartsidebar .your-cart {
  background-color: var(--color-white);
  border: 1px solid white;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(https://r2.yourtoken.io/empty_cart_bag-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 200px;
}
@media (max-width: 576px) {
  header .cartsidebar .your-cart {
    width: 70%;
  }
}
@media (max-width: 990px) {
  header .cartsidebar .your-cart {
    width: 60%;
  }
}
@media (min-width: 991px) {
  header .cartsidebar .your-cart {
    width: 25%;
  }
}
header .cartsidebar .your-cart .crossbtn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
}
header .cartsidebar .your-cart .crossbtn .btn {
  transition: 0.4s ease;
}
header .cartsidebar .your-cart .crossbtn .btn:hover {
  background-color: transparent;
  color: red;
  border-color: red;
}
header .cartsidebar .your-cart .crossbtn .btn:active {
  scale: 1.2;
}
header .cartsidebar .your-cart p:nth-child(2) {
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px;
}
header .cartsidebar .your-cart .explore {
  margin-top: 500px;
  text-align: center;
  padding: 10px;
}
header .cartsidebar .your-cart .explore .btn {
  margin: 10px 0;
}
header .searchbar {
  position: absolute;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding: 30px;
  text-align: center;
  display: none;
}
@media (max-width: 576px) {
  header .searchbar form input[type=search] {
    width: 60% !important;
    font-size: var(--fs-2) !important;
  }
  header .searchbar form button {
    padding: 10px 5px !important;
  }
  header .searchbar form button:nth-child(3) {
    padding: 0 0 0 20px !important;
  }
}
header .searchbar form {
  display: flex;
  justify-content: center;
}
header .searchbar form input[type=search] {
  padding: var(--fs-2);
  width: 30%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
  font-size: var(--fs-5);
  letter-spacing: 1.5px;
}
header .searchbar form input[type=search]:focus-visible {
  outline: none;
}
header .searchbar form button {
  background-color: transparent;
  padding: 20px;
  border: none;
  color: var(--color-white);
}
header .searchbar form button:nth-child(2) {
  font-size: var(--fs-3);
  border-bottom: 1px solid var(--color-white);
}
header .searchbar form button:nth-child(3) {
  font-size: var(--fs-6);
  padding: 0 0 0 60px;
}
header .food-varieties {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.417);
  color: var(--color-white);
  text-align: center;
  margin: 0 10px;
  gap: 30px;
}
@media (max-width: 576px) {
  header .food-varieties {
    justify-content: space-evenly !important;
    align-items: center;
    gap: 20px !important;
  }
  header .food-varieties div {
    margin-top: 20px;
  }
  header .food-varieties div a img {
    max-width: 60px !important;
  }
}
@media (max-width: 350px) {
  header .food-varieties {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  header .food-varieties div {
    border: 1px solid black;
    margin-top: 20px;
  }
  header .food-varieties div a img {
    max-width: 60px !important;
  }
}
header .food-varieties div {
  display: grid;
  place-items: center;
  margin-top: 20px;
}
header .food-varieties div a img {
  width: 70px;
}
header .food-varieties div p {
  font-family: "Hanalei Fill", system-ui;
  font-size: var(--fs-1);
  line-height: 1.5;
  letter-spacing: 1px;
  width: fit-content;
}

.heroimages a {
  width: 100%;
}
.heroimages a .panel {
  opacity: 0;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.heroimages a .panel img {
  width: 100%;
  z-index: 1;
}
.heroimages a .active {
  opacity: 4;
}

.main {
  height: 100%;
}
.main .container {
  text-align: center;
}
.main .container .wokn-tok h1 {
  color: red;
  font-family: "Bebas Neue", sans-serif;
  font-size: 70px;
}
.main .container .wokn-tok p {
  font-size: var(--fs-4);
}
.main .container .item-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
@media (max-width: 576px) {
  .main .container .item-card-grid {
    grid-template-columns: 1fr;
  }
}
.main .container .item-card-grid .item-card {
  margin: auto;
  width: 100%;
  padding: 10px;
}
.main .container .item-card-grid .item-card .item-card-image {
  background-color: rgb(238, 182, 14);
  border-radius: 20px;
}
.main .container .item-card-grid .item-card .item-card-image img {
  width: 280px;
  border-radius: 20px;
  transition: 0.2s ease-in;
}
.main .container .item-card-grid .item-card .item-card-image img:hover {
  scale: 1.3;
}
.main .container .item-card-grid .item-card p {
  margin: 10px;
}
.main .container .item-card-grid .item-card p:nth-child(2) {
  font-weight: 700;
}
.main .container .item-card-grid .item-card p:nth-child(3) {
  font-weight: 100;
  color: rgb(146, 146, 146);
}

.hot-seller .container {
  background-color: rgb(228, 215, 30);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 350px) {
  .hot-seller .container h1 {
    font-size: 40px !important;
    margin-bottom: 10px;
  }
}
.hot-seller .container h1 {
  font-size: 60px;
  font-family: cursive;
  color: var(--color-white);
  -webkit-text-stroke: rgb(233, 129, 43);
  -webkit-text-stroke-width: 1.5px;
}
.hot-seller .container p {
  font-size: var(--fs-4);
  font-weight: 600;
}
.hot-seller .container .selling-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 576px) {
  .hot-seller .container .selling-card-grid {
    grid-template-columns: 1fr;
  }
}
.hot-seller .container .selling-card-grid .selling-card {
  padding: 10px;
  position: relative;
}
.hot-seller .container .selling-card-grid .selling-card div {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 20px;
  right: 40px;
  animation-name: tranimation;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  display: grid;
  place-content: center;
  font-size: 10px;
}
.hot-seller .container .selling-card-grid .selling-card p {
  font-size: 11px;
  margin: 10px 0;
}
.hot-seller .container .selling-card-grid .selling-card p:nth-child(4) {
  font-size: var(--fs-5);
  color: rgb(28, 50, 176);
}

/*# sourceMappingURL=style.css.map */
